<div class="title-container">
  <ng-container *ngIf="currentTheme$ | async as currentTheme">
    <img src="assets/imgs/logo-{{currentTheme}}.svg" alt="Logo Poupa Cliques" class="title-container__title">
  </ng-container>
  <span class="title-container__subtitle body-small">Centralizando informações do Brasil</span>
</div>

<div class="card-container">
  <ng-container *ngFor="let card of cardsList; let last = last;">
    <md-sys-card type="filled" [alert]="true">
      <div class="card-container__card">
        <div class="card-container__card__icon-container">
          <span class="material-icons-outlined" [innerHTML]="card.icon"></span>
        </div>
        <span class="card-container__card__title body-large">{{card.title}}</span>
        <span class="card-container__card__description">{{card.description}}</span>
      </div>
    </md-sys-card>
    <ng-container *ngIf="!last">
      <md-sys-divider></md-sys-divider>
    </ng-container>
  </ng-container>
</div>
