@use '/src/assets/scss/tools/tools.colors.scss' as colors;

.menu-container {
  background-color: colors.define-color(bg-secondary);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  height: 56px;
  width: 100%;

  &__img {
    display: none;
  }

  &__buttons-router {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__buttons-theme {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .menu-container {
    bottom: unset;
    width: unset;
    height: 100vh;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;

    &__img {
      display: block;
      width: 85px;
    }

    &__buttons-router {
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
    }

    &__buttons-theme {
      display: block;
    }
  }
}
