<md-sys-navigation>
  <div class="button-drawer">
    <f1-data-drawer-button icon="&#xe5d2;"></f1-data-drawer-button>
  </div>

  <div class="buttons-navigation-container">
    <md-sys-nav-button label="Home" icon="&#xe88a;" route="/home"></md-sys-nav-button>
    <md-sys-nav-button label="Drivers" icon="&#xea2d;" route="/theme"></md-sys-nav-button>
    <md-sys-nav-button label="Teams" icon="&#xe613;" route="/not-found"></md-sys-nav-button>
    <md-sys-nav-button label="Circuits" icon="&#xe80b;" route="/theme3" class="button-circuits"></md-sys-nav-button>
    <md-sys-nav-button label="Seasons" icon="&#xebcc;" route="/theme4"></md-sys-nav-button>
  </div>

  <div class="button-theme">
    <f1-data-theme-button></f1-data-theme-button>
  </div>

</md-sys-navigation>
