.md-sys-alert {
  padding: var(--md-sys-padding-small);

  &__icon {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .md-sys-alert {
    display: flex;
    align-items: center;
    padding: var(--md-sys-padding-medium);

    &__icon {
      display: block;
    }

    &__label {
      margin-left: 16px;
    }
  }
}
