.md-sys-nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: 0;

  &__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    border-radius: 100px;

    &__icon {
      position: absolute;
    }

    &__background {
      border-radius: 100px;
      width: 56px;
      height: 32px;
      opacity: 0;
      transform: scaleX(0.32);
      transition-duration: 300ms;
      transition-property: transform, opacity;
      transition-timing-function: linear;

      &--active {
        opacity: 1;
        transform: scaleX(1);
        background-color: var(--md-sys-color-secondary-container);
      }
    }
  }

  &__label {
    margin-bottom: 4px;
  }

  &--active {
    pointer-events: none;
  }

  &:hover &__icon-container {
    background: var(--md-sys-color-on-surface-variant-2);

    &__icon {
      font-weight: 600;
    }
  }

  &:active &__icon-container {
    background: var(--md-sys-color-on-surface-variant-4);
  }
}

.md-sys-nav-button-extended {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 2px 16px;
  background-color: transparent;
  overflow: hidden;
  border: 0;
  border-radius: 100px;

  &__icon {
    margin-right: 16px;
  }

  &--active {
    background: var(--md-sys-color-secondary-container);
    pointer-events: none;
  }

  &:hover {
    background: var(--md-sys-color-on-surface-variant-2);
  }

  &:hover &__icon {
    font-weight: 600;
  }

  &:active {
    background: var(--md-sys-color-on-surface-variant-4);
  }
}

@media screen and (min-width: 960px) {
  .md-sys-nav-button {
    margin: -2px auto 14px;
    padding: 2px;
  }
}
