<div class="md-sys-drawer" [class.md-sys-drawer--active]="show">
  <div class="md-sys-drawer__navigation-container">
    <div class="md-sys-drawer__navigation-container__drawer-button">
      <f1-data-drawer-button icon="&#xe9bd;"></f1-data-drawer-button>
    </div>
    <div class="md-sys-drawer__navigation-container__list">
      <ng-container *ngFor="let button of buttonList">
        <md-sys-nav-button
          [label]="button.title"
          [icon]="button.icon"
          [route]="button.route!"
          [extended]="true"
          (click)="changeStatusDrawer()">
        </md-sys-nav-button>
      </ng-container>
    </div>
  </div>
  <div class="md-sys-drawer__theme-button">
    <f1-data-theme-button [extended]="true"></f1-data-theme-button>
  </div>
</div>
