@use '/src/assets/scss/tools/tools.colors.scss' as colors;

.md-sys-drawer {
  position: fixed;
  left: -100vw;
  height: 100vh;
  width: calc(100vw - 50px);
  max-width: 320px;
  transition: .50s;
  border-radius: 0px 16px 16px 0px;
  background-color: colors.define-color(--md-sys-color-surface-2);
  z-index: 2;
  top: 0;

  &--active {
    left: 0;
    transition: .50s;
  }

  &__navigation-container {
    margin: 8px 8px auto;
    padding-bottom: 24px;
    overflow-y: auto;

    &__drawer-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      margin-bottom: 8px;
      margin-left: 4px;
    }
  }
}
