.body-app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .50s;
}

main {
  padding: 2px 12px;
  min-height: 100vh;
}

footer {
  margin-top: 60px;
  margin-bottom: 76px;
}

.noscroll {
  overflow: hidden;
}

.scroll {
  overflow: visible;
  overflow: auto;
}

@media screen and (min-width: 960px) {
  .body-app {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas:"nav-menu header-toolbar"
                        "nav-menu main-routes"
                        "nav-menu footer";
  }

  header {
    grid-area: header-toolbar;
  }

  nav {
    grid-area: nav-menu;
  }

  main {
    grid-area: main-routes;
    padding: 5px 20px;
    max-width: 2000px;
    margin: 0 auto;
    top: 0;
  }

  footer {
    grid-area: footer;
    margin-bottom: 0;
  }
}

