<div [ngClass]="scroll? 'doc-app scroll' : 'doc-app noscroll'">
    <header>
      <app-toolbar></app-toolbar>
    </header>

    <nav>
      <app-nav (scroll)="receiveScroll($event)"></app-nav>
    </nav>

    <main>
      <router-outlet></router-outlet>
    </main>

    <footer>
      © 2022 This website is unofficial and is not associated in any way with the Formula 1 companies. F1, FORMULA ONE, FORMULA 1, FIA FORMULA ONE WORLD CHAMPIONSHIP, GRAND PRIX and related marks are trade marks of Formula One Licensing B.V.
    </footer>
</div>
