<div class="doc-app">
    <header>
      <app-toolbar></app-toolbar>
    </header>

    <nav>
      <app-menu-routers></app-menu-routers>
    </nav>

    <main>
      <router-outlet></router-outlet>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </main>

    <footer></footer>
</div>
