@use '/src/assets/scss/tools/tools.colors.scss' as colors;

@mixin generate-outline(){
  @for $margin from 1 through 5{
    .outline-z#{$margin} {
      border-style: solid;
      border-width: $margin;
      border-color: colors.define-color(font-secondary);
    }
  }
}

@include generate-outline();
