.md-sys-navigation {
  background-color: var(--md-sys-color-surface-2);
  box-shadow: var(--md-sys-elevation-1);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  height: 76px;
  width: 100%;
  z-index: 1;
  transition: .50s;
}

@media screen and (min-width: 960px) {
  .md-sys-navigation {
    box-shadow: unset;
    bottom: unset;
    height: 100vh;
    width: 88px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

