$themes: (
  light: (
    // background
    'bg-primary': #fff,
    'bg-hover': #0000000d,

    // font
    'font-primary': #18191a,
    'font-secondary': #5f6368,

    // tooltip
    'bg-tooltip': #18191A,
    'font-tooltip': #fff
  ),
  dark: (
    // background
    'bg-primary': #0f0f0f,
    'bg-hover': #ffffff1a,

    // font
    'font-primary': #fff,
    'font-secondary': #b4b8bc,

    // tooltip
    'bg-tooltip': #fff,
    'font-tooltip': #18191a
  )
);
