$themes: (
  light: (
    'bg-primary': white,
    'bg-secondary': #dadadb,
    'font-primary': #18191a
  ),
  dark: (
    'bg-primary': #18191A,
    'bg-secondary': #424242,
    'font-primary': white
  )
);
