@use '/src/assets/scss/tools/tools.colors.scss' as colors;

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: colors.define-color(bg-primary);
  color: colors.define-color(font-primary);
}
